/* DEBUG */


/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */

:root {
    --gray: #f3eeea;
    --lightblue: #8edafc;
    --lightgreen: #d5f9ba;
    --h70: 70px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

div, section {
    height: 100%;
}

input:focus {
    all: unset;
}

#my-body {
    background: no-repeat linear-gradient(#009688 20%, #d2dbdb 20% 80%);
    height: 100vh;
}

#app {
    padding: 1.5rem 12rem;
}

/* <-- left-container --> */

#left-cont {
    width: 35%;
}

#left-cont #left-user,
#right-cont #right-user {
    height: var(--h70);
    background-color: var(--gray);
    font-weight: 600;
}

#left-user i,
#right-user i {
    color: #b1b1b1;
    margin: .5rem;
    font-size: large;
}

#left-cont #left-notifications {
    height: 5rem;
    background-color: var(--lightblue);
}

#left-notifications i {
    color: var(--lightblue);
    background-color: #fff;
    border-radius: 50%;
    font-size: 1.25rem;
    width: 1rem;
    height: 1rem;
    padding: 1.5rem;
    margin: .5rem 0 .5rem 1rem;
}

#left-notifications span {
    line-height: 1.25rem;
    font-weight: 600;
}

#left-notifications small {
    font-weight: 600;
}

#left-cont #left-searchbar {
    max-height: 3rem;
    padding: .25rem .5rem;
    background-color: var(--gray)
}

#left-searchbar i {
    color: #b1b1b1;
}

#left-searchbar input,
#message-bar input {
    width: 100%;
    border: none;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
}

#left-contacts > div {
    max-height: 5rem;
    background-color: #fff;
    border-top: 1px solid lightgray;
    display: flex;
    flex-direction: column;
}

#left-contacts > div:hover {
    background-color: #eeeeee;
}

#left-contacts small {
    color: #757575;
    overflow: hidden;
    white-space: nowrap;
    width: 60%;
    text-overflow: ellipsis;
}

#chat-wrapper small {
    color: #757575;
}
/* <-- right-container --> */

#right-cont {
    width: 65%;
    border-left: 1px solid #d2dbdb;
}

#right-chat {
    background-image: url(../img/mine.jpg);
    background-size: contain;
}

#chat-wrapper > div {
    height: auto;
    width: fit-content;
    max-width: 16rem;
    word-break: break-word;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    padding: .5rem;
}

#chat-wrapper span {
    padding: 1rem;
}

#chat-wrapper small {
    text-align: right;
    align-self: flex-end;
    word-break: normal;
}

.sent {
    background-color: var(--lightgreen);
    align-self: flex-end;
}

.received {
    background-color: #fff;
}

#right-message {
    height: var(--h70);
    background-color: var(--gray);
}

#message-bar {
    height: auto;
}